fastapi
python-multipart
uvicorn[standard]
psycopg2
SQLAlchemy
GeoAlchemy2
alembic
shapely
pydantic[email]
pydantic_extra_types
phonenumbers
base91
cryptography
argon2-cffi
minio
requests
pyproj
redis
py-mini-racer
Pillow
